body {
  font-family: 'Source Sans Pro', sans-serif;
  background: black;
  color: white;
  min-width: 300px;
}


table {
  border-collapse: collapse;
  margin-top: 10px;
}

td {
  border: 1px black solid;
  width: 5em;
  height: 5em;
  background-color: teal;
  text-align: center;
  vertical-align: middle;
}

td:hover {
  background-color: #d7f7f5;
}
.dot1 {
  height: 50px;
  width: 50px;
  background-color: purple;
  border-radius: 50%;
  display: inline-block;
}
.dot2 {
  height: 50px;
  width: 50px;
  background-color: #182952;
  border-radius: 50%;
  display: inline-block;
}
