/* leave animations for the end */
.dot1 {
  height: 50px;
  width: 50px;
  background-color: purple;
  border-radius: 100%;
  display: inline-block;
}

.dot2 {
  height: 50px;
  width: 50px;
  background-color: teal;
  border-radius: 100%;
  display: inline-block;
}
.gametable{
  border: 5px black solid;
  margin: 0;
}
.gameboard{
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 3em;
}
table{
  border-collapse: collapse;
}
td {
  border: 1px black solid;
  width: 5em;
  height: 5em;
  background-color: #ffff9d;
  text-align: center;
  vertical-align: middle;
}
